input, select,option,textarea {
    width: 100%;
}

.custom-grid {
  display: grid;
}

@media (max-width: 900px) {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  .custom-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}